[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]
mypy = "*"
pylint = "*"
flake8 = "*"
darglint = "*"
bandit = "*"
black = "*"

[requires]
python_version = "3.10"
